<html>

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap" rel="stylesheet">
    </head>
<body>
    <div id="heropage">
        <div id="logonav">
    <div class="logo">
    <span class="logoimg"><img src="./assets/logo.svg"></span>
    <span class="logofont">Arunkumar</span>
    </div>
    <div class="netwrok">
        <img src="./assets/behance.svg">
        <img src="./assets/linkedin.svg">
        <img src="./assets/instagram.svg">
        <img src="./assets/dribbble.svg">
    </div>
    </div>

    <div id="herocont">
        <p class="herocont1">Arunkumar.</p>
        <p class="herocont2">MAKING</p>
        <p class="herocont2">GOOD</p>
        <p class="herocont3">DESIGN &</p>
        <p class="herocont3">DEVELOPMENT</p>
        <p class="herocont2">SINCE</p>
        <p class="herocont2">2022</p>
    </div>

    <div id="sidemenu">
        <p class="sidemenucont">About</p>
        <p class="sidemenucont">Experience</p>
        <p class="sidemenucont">Projects</p>
        <p class="sidemenucont">Contact</p>
    </div>

    </div>

    <div id="aboutsec">
        <p class="abouthead">About</p>
        <p class="aboutcont">I am a UI/UX designer and front-end developer. I enjoy making creative designs and solving issues to improve how users experience things. I work hard and promise to give you top-notch work on time, without ever compromising on quality.</p>
    </div>

    <!-- <div id="worksec">
        <p class="workhead">What I do</p>
        <hr style="width: 100%;">
        <p class="workcont">UI UX Design</p>
        <hr style="width: 100%;">
        <p class="workcont">Logo Design</p>
        <hr style="width: 100%;">
        <p class="workcont">Front-end development</p>
        <hr style="width: 100%;">
        <p class="workcont">Web development</p>
        <hr style="width: 100%;">
    </div> -->

    <app-skillspage></app-skillspage>

    <div id="experiencesec">
        <p class="abouthead">Experience</p>
        <p class="aboutcont">I have a strong knowledge of UI/UX design and the front-end development field. I am proficient in using tools like FIGMA, HTML, CSS, JavaScript, Angular, and Framer. In my role as a UI/UX designer, I have contributed to projects such as e-commerce websites, car service websites, a mobile app for booking laundry services, websites for interior design companies, and pet product websites. Additionally, as a front-end developer, I have worked on projects including a card memory game website, an employee management website, and the creation of two simple websites.</p>
    </div>

    <div id="worksec">
        <p class="workhead">History</p>
        <hr style="width: 100%;">
       <!-- <span class="experiencecol">  -->
        <p class="experiencecont1">Surfboard payments - <span class="experiencecont3">Internship</span></p>
        <!-- <span class="experiencecol1">   -->
        <p class="experiencecont2">UI UX Designer and Front-end developer</p>
        <p class="experiencecont3">Chennai, India.</p>
        <!-- </span>
    </span> -->
        <hr style="width: 100%;">
        <p class="experiencecont1">Maven alpha - <span class="experiencecont3">June 2022 - December 2022</span> </p>
        <p class="experiencecont2">UI UX Designer and Front-end developer</p>
        <p class="experiencecont3">Chennai, India.</p>
        <hr style="width: 100%;">
        <p class="experiencecont1">Tech cora - <span class="experiencecont3">Now</span> </p>
        <p class="experiencecont2">UI UX Designer and Front-end developer</p>
        <p class="experiencecont3">Chennai, India.</p>
        <hr style="width: 100%;">
    </div>

    <!-- <div class="container">
        <app-showproject></app-showproject>
      </div> -->

    <!-- <div id="designproject">
        <div class="designheader">
           <p>UI UX DESIGN PROJECT</p>
           <span class="designarrowbuttons">
            <img (click)="moveLeft()" src="/assets/leftarrow.svg">
            <img (click)="moveRight()" src="/assets/rightarrow.svg">
           </span>
        </div>
        <div class="desginprojectcontainer" >
        <div class="desginprojectsec" *ngFor="let card of visibleCards">
        <img [src]="card.imageUrl">
        <span>
            <p class="designprojectname">{{ card.title }}</p>
            <p class="designprojectname1">{{ card.subtitle }}</p>
        </span>
        </div>
        </div>
        
    </div> -->
    <!-- <div id="desisnprojectcont"> -->
    <app-showproject [sectionTitle]="'Design & development Projects'" [cards]="designProjects"></app-showproject>
    <!-- </div> -->
  <!-- <div id="frontendprojectcont">
    <app-showproject [sectionTitle]="'Frontend Projects'" [cards]="frontendProjects"></app-showproject>
</div> -->


    <!-- <div id="frontendproject">
        <div class="designheader">
           <p>UI UX DESIGN PROJECT</p>
           <span class="designarrowbuttons">
            <img (click)="moveLeft()" src="/assets/leftarrow1.svg">
            <img (click)="moveRight()" src="/assets/rightarrow1.svg">
           </span>
        </div>
        <div class="desginprojectcontainer" >
        <div class="desginprojectsec" *ngFor="let card of visibleCards">
        <img [src]="card.imageUrl">
        <span>
            <p class="designprojectname">{{ card.title }}</p>
            <p class="designprojectname1">{{ card.subtitle }}</p>
        </span>
        </div>
        </div>
        
    </div> -->

    <div id="worksec">
        <p class="workhead">Connect</p>

        <div class="footercont">

<span class="conectlogo">
        <div class="footercont1">
            <span class="conect conect1"><img src="./assets/be.svg">Behance</span>
            <span class="conect conect1"><img src="./assets/In.svg">LinkedIn</span> 
        </div>

        <div class="footercont2">
            <span class="conect conect1"><img src="./assets/Ig.svg">Instagram</span>
            <span class="conect conect1"><img src="./assets/Dr.svg">Dribbble</span> 
        </div>
</span>

        <div class="footercont3">
            <span class="emailcont">
                <p class="emailcont1">Email</p>
                <p class="emailcont2">futuristicdesigner07@gmail.com</p>
            </span>
            <span class="emailcont">
                <p class="emailcont1">Phone</p>
                <p class="emailcont2">8220710738</p>
            </span> 
        </div>

        </div>
    </div>
</body>

</html>
